<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  	
  	<table class="1" >
  	<tr>
  	<td>
  	<strong>FONDO COMPLEMENTARIO PREVISIONAL CERRADO DE CESANTÍA DE
SERVIDORES Y TRABAJADORES PÚBLICOS DE FUERZAS ARMADAS
–CAPREMCI</strong> 	
  	</td>
  	</tr>
  	
  	</table>
  	<br>

  	<table class=2 border=1>
  	<tr>
  	<td class="1"><strong>SOLICITUD DE DESAFILIACIÓN VOLUNTARIA Y DEVOLUCIÓN DE APORTES POR CESANTÍA</strong></td>
	</tr>
	<tr>
	<td class="2"><strong>Sr. Partícipe antes de llenar la solicitud lea la información en el reverso de ésta hoja</strong></td>
	</tr>
	</table>
  	<table class=2 border=1>
  	<tr>
	<td class="3"><strong>Apellidos y Nombres</strong></td>
	<td class="4"><strong>Nro. de Cédula</strong></td>
	</tr>
	<tr>
	<td class="3">{APELLIDOS}&nbsp; &nbsp;{NOMBRE}</td>
	<td class="4">{CEDULA}</td>
	</tr>
  	</table>
  	<table class=3 border=1>
  	<tr>
	<td><strong>Género</strong></td>
	<td><strong>Fecha de Nacimiento</strong></td>
	<td><strong>Estado Civil</strong></td>
	</tr>
	<tr>
	<td>{SEXO}</td>
	<td>{FECHA_NACIMIENTO}</td>
	<td>{ESTADO_CIVIL}</td>
	</tr>
  	</table>
   <table class=3 border=1 >
  	<tr>
  	<td class="5"><strong>Dirección Exacta del Domicilio del Afiliado</strong></td>
	</tr>
  	</table>
  	
  	<table class=3 border=1 >
  	<tr>
  	<td><strong>Provincia</strong></td>
  	<td><strong>Cantón</strong></td>
  	<td><strong>Parroquia</strong></td>
	</tr>
	<tr>
  	<td>{PROVINCIAS}</td>
  	<td>{CANTONES}</td>
  	<td>{PARROQUIAS}</td>
	</tr>
  	</table>
  	
  	<table class=4 border=1 >
  	<tr>
  	<td><strong>Barrio/o Sector</strong></td>
  	<td><strong>Ciudadela y/ o conjunto/Etapa/Manzana</strong></td>
	</tr>
	<tr>
  	<td>{BARRIO}</td>
  	<td>{CIUDADELA}</td>
	</tr>
  	</table>
  	
  	<table class=3 border=1 >
  	<tr>
  	<td><strong>Calle</strong></td>
  	<td><strong>Número</strong></td>
  	<td><strong>Intersección</strong></td>
	</tr>
	<tr>
  	<td>{CALLE}</td>
  	<td>{NUMERO_CALLE}</td>
  	<td>{INTERSECCION}</td>
	</tr>
  	</table>
  	
  	<table class=4 border=1 >
  	<tr>
  	<td><strong>Vivienda:</strong></td>
  	<td><strong>Su Vivienda está Hipotecada</strong></td>
	</tr>
	<tr>
	
	
	
  	<td width="400px">{TIPO_VIVIENDA}</td>
  	<td>{VIVIENDA_HIPOTECADA}</td>
	</tr>
  	</table>
 	
  	<table class=4 border=1 >
  	<tr>
  	<td><strong>Referencia Domiciliaria:</strong> &nbsp; {REFERENCIA_DIRECCION}</td>
	</tr> 
  	</table>

   <table class=3 border=1 >
  	<tr>
  	<td class="6"><strong>Números Telefónicos:</strong></td>
	</tr>
  	</table>

  	<table class=3 border=1 >
  	<tr>
  	<td><strong>Casa:</strong></td>
  	<td><strong>Celular</strong></td>
	</tr>
	<tr>
  	<td>{TELEFONO}</td>
  	<td>{CELULAR}</td>
	</tr>
  	</table>
  	
  	<table class=3 border=1 >
  	<tr>
  	<td class="6"><strong>Referencias Familiares:</strong></td>
	</tr>
  	</table>
  	
  	 <table class=4 border=1 >
  	<tr>
  	<td><strong>Apellidos y Nombres:</strong></td>
  	<td><strong>Parentezaco:</strong></td>
  	<td><strong>Teléfono:</strong></td>
  	<td><strong>Celular:</strong></td>
	</tr>
	<tr>
  	<td>{APELLIDO_REFERENCIA} &nbsp; {NOMBRE_REFERENCIA}</td>
  	<td>{PARENTEZCO_REFERENCIA}</td>
  	<td>{PRIMER_TELEFONO}</td>
  	<td>{SEGUNDO_TELEFONO}</td>
	</tr>
  	</table>
  	
  	<table class=3 border=1 >
  	<tr>
  	<td class="6"><strong>Referencias Personales:</strong></td>
	</tr>
  	</table>
  	
  	 <table class=4 border=1 >
  	<tr>
  	<td><strong>Apellidos y Nombres:</strong></td>
  	<td><strong>Parentezaco:</strong></td>
  	<td><strong>Teléfono:</strong></td>
  	<td><strong>Celular:</strong></td>
	</tr>
	<tr>
  	<td>{APELLIDO_REF_PERSONAL} &nbsp; {NOMBRE_REF_PERSONAL}</td>
  	<td>{PARENTEZCO_REF_PERSONAL}</td>
  	<td>{PRIMER_TEL_REF_PERSONAL}</td>
  	<td>{SEGUNDO_TEL_REF_PERSONAL}</td>
	</tr>
  	</table>

 	<table class=3 border=1 >
  	<tr>
  	<td><strong>Último Cargo:</strong></td>
  	<td><strong>Fecha de Salida:</strong></td>
	</tr>
	<tr>
  	<td>{ULTIMO_CARGO}</td>
  	<td>{FECHA_SALIDA}</td>
	</tr>
  	</table>
	<br>

   <table class=3 border=1 >
  	<tr>
  	<td class="5"><strong>DATOS DE LA SOLICITUD</strong></td>
	</tr>
  	</table>

  	<table class=4 border=1 >
  	<tr>
  	<td class="6"><strong> Presentada por:&nbsp; {APELLIDOS}&nbsp; {NOMBRE}</strong></td>
  	<td  class="6"><strong>Fecha:&nbsp; {FECHA_SOLICITADA}</strong></td>
	</tr>
  	</table>
  	
  	 <table class=4 border=1 >
  	<tr>
  	<td>Sres. F.C.P.C. de los Empleados Civiles de las Fuerzas Armadas por la presente solicito que el valor que me
corresponde a mi requerimiento sea depositado en:
  	</td>
	</tr> 
  	</table>
  	
  	<table class=4 border=1 >
  	<tr>
  	<td><strong>Mi Cuenta del Banco:</strong></td>
  	<td><strong>Número de Cuenta:</strong></td>
 	</tr>
	<tr>
  	<td>{BANCO}</td>
  	<td>{NUMERO_CUENTA}</td>
	</tr>
  	</table>
  	
  	<table class=4 border=1 >
  	<tr>
  	<td class="8"> <strong> Declaro que la información consignada es verdadera y los documentos anexos a ésta solicitud son
auténticos</strong>
  	</td>
	</tr> 
  	</table>
  	
  	<table class=4 border=1 >
  	<tr>
  	<td align="center" > <strong>Firma del Partícipe y/o Cesante:</strong>
  	</td>
  	<td align="center"> <strong>Número C.C.:</strong>
  	</td>
	</tr>
	<tr>
	<td class="7">&nbsp;</td>
  	<td class="7">&nbsp;</td>
	</tr>
    <tr>
	<td class="7">&nbsp;</td>
  	<td class="7">&nbsp;</td>
	</tr>
	<tr>
	<td class="7">&nbsp;</td>
  	<td class="7">&nbsp;</td>
	</tr>
  	<tr>
  	<td class="7" align="center"> <strong>----------------------------------------</strong>
  	</td>
  	<td class="7" align="center"> <strong>----------------------------------------</strong>
  	</td>
	</tr>
  	</table>

	
	
	
  		
	</div>
  </body>
  </html>