

table.1 {
  
   font-size:15px;
   text-align: center;
   border-collapse: collapse;
}

table.2 {
  
	width:100%;
   text-align: center;
     border-collapse: collapse;
}



td.1{
	
	background-color: #241F73;
	color:#FCFBFD;
	
	
}


td.2{
	 text-align: left;
	 
	   
}

td.3{
	height: 55px;

}
td.4{
	 text-align: center;
	   	width:200px;
	   font-size:12px;
}
td.5{
	height: 40px;

}

td.6{
	height: 200px;

}


td.7{

text-align : justify;
font-size:12px;
}
td.8{

	height: 100px;
}
 td.9{

	height: 25px;
}




