<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  	
  	<table class="1" >
  	<tr>
  	<td>
  	<strong>FONDO COMPLEMENTARIO PREVISIONAL CERRADO DE CESANTÍA DE
SERVIDORES Y TRABAJADORES PÚBLICOS DE FUERZAS ARMADAS
–CAPREMCI</strong> 	
  	</td>
  	</tr>
  	

  	
  	</table>
  	<br>

<table class="2" border=1>
<tr>
<td class="3">“CAPREMCI”
SOLICITUD DE CRÉDITO HIPOTECARIO
</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td class="1">DATOS DEL CRÉDITO
</td>
</tr>
</table>
	
<table class="2" border=1>
<tr>
<td><strong>Valor</strong></td>
<td><strong>Plazo en eses</strong></td>
<td><strong>Destino del Dinero</strong></td>
</tr>
<tr>
<td>{VALOR_CREDITO}</td>
<td>{PLAZO_MESES}</td>
<td>{DESTINO_DINERO}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">DATOS PERSONALES DEL AFILIADO SOLICITANTE
</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td class="2"><strong>Nombres y Apellidos:</strong>&nbsp;{NOMBRES_DATOS_PER}&nbsp;{APELLIDOS_DATOS_PER}</td>
<td class="2"><strong>Cédula:&nbsp;</strong>{CED_DATOS_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Género</strong></td>
<td><strong>Fecha de Nacimiento</strong></td>
<td><strong>Estado Civil</strong></td>
</tr>
<tr>
<td>{GENERO_DATOS_PER}</td>
<td>{FECHA_NAC_DATOS_PER}</td>
<td>{ESTADO_CIVIL}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Separación de Bienes</strong></td>
<td><strong>Cargas Familiares</strong></td>
</tr>
<tr>
<td>{SEPARACION_BIENES}</td>
<td>{CARGAS_FAMI_DATOS_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Dirección exacta del domicilio del afiliado</strong></td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Provincia</strong></td>
<td><strong>Cantón</strong></td>
<td><strong>Parroquia</strong></td>
</tr>
<tr>
<td>{PROVINCIA_DAT_PER}</td>
<td>{CANTON_DAT_PER}</td>
<td>{PARROQUA_DAT_PER}</td>
</tr>
</table>
	
<table class="2" border=1>
<tr>
<td><strong>Barrio</strong></td>
<td><strong>Ciudadela</strong></td>
</tr>
<tr>
<td>{BARRIO_DAT_PER}</td>
<td>{CIUDADELA_DAT_PER}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Calle</strong></td>
<td><strong>Número de Calle</strong></td>
<td><strong>Intersección</strong></td>
</tr>
<tr>
<td>{CALLE_DAT_PER}</td>
<td>{NUM_CALLE_DAT_PER}</td>
<td>{INTERSE_DAT_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Vivienda</strong></td>
<td><strong>Su Vivienda está hipotecada</strong></td>
<td><strong>Tiempo de Residencia</strong></td>
</tr>
<tr>
<td>{TIPO_VIVIENDA_DAT_PER}</td>
<td>{VIVIENDA_HIPO_DAT_PER}</td>
<td>{TIEMPO_RESI_DAT_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Si no tiene vivienda propia nombre y número telefónico del propietario:</strong></td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Nombre del Propetario</strong></td>
<td><strong>Apellido del Propietario</strong></td>
<td><strong>Teléfono del Propietario</strong></td>
</tr>
<tr>
<td>{NOM_ARRENDA_DAT_PER}</td>
<td>{APELLI_ARREN_DAT_PER}</td>
<td>{CELU_ARREN_DAT_PER}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td ><strong>Referencia de la direccion del domicilio</strong></td>
</tr>
<tr>
<td class="2" >{REFERENCIA_DOM_DAT_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong class="5">Números Telefónicos:</strong></td>
</tr>
</table>
<table class="2" border=1>
<tr>
<td><strong>Casa</strong></td>
<td><strong>Celular</strong></td>
<td><strong>Trebajo</strong></td>
<td><strong>Ext.</strong></td>
<td><strong>Node</strong></td>
</tr>
<tr>
<td>{TELEF_DAT_PER}</td>
<td>{CELU_DA_PER}</td>
<td>{TELEF_TRA_DAT_PER}</td>
<td>{EXT_DAT_PER}</td>
<td>{NODE_DAT_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>E-Mail</strong></td>
<td><strong>Nivel Educativo</strong></td>
</tr>
<tr>
<td class="2">{CORREO_DAT_PER}</td>
<td>{NIVEL_EDU_DAT_PER}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td class="5"><strong>Referencia Familiar:</strong></td>
</tr>
</table>
<table class="2" border=1>
<tr>
<td><strong>Nombre</strong></td>
<td><strong>Apellido</strong></td>
<td><strong>Parentezco</strong></td>
<td><strong>Celular</strong></td>
<td><strong>Teléfono</strong></td>
</tr>
<tr>
<td>{NOM_REF_FAMI}</td>
<td>{APELL_REF_FAMI}</td>
<td>{PARENTE_REF_FAMI_DAT_PER}</td>
<td>{TELEF_FAMI_DAT_PER}</td>
<td>{TELEF_DOS_FAMI_DAT_PER}</td>
</tr>
</table>



<table class="2" border=1>
<tr>
<td class="5"><strong>Referencia Personal:</strong></td>
</tr>
</table>
<table class="2" border=1>
<tr>
<td><strong>Nombre</strong></td>
<td><strong>Apellido</strong></td>
<td><strong>Relación</strong></td>
<td><strong>Celular</strong></td>
<td><strong>Teléfono</strong></td>
</tr>
<tr>
<td>{NOM_REF_PERSON_DAT_PER}</td>
<td>{APELLI_REF_PERSON_DAT_PER}</td>
<td>{RELACIO_PERSO_DAT_PERSO}</td>
<td>{TELEF_REF_PER_DAT_PER}</td>
<td>{TELEF_DOR_REF_PER_DAT_PER}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">DATOS LABORALES DEL AFILIADO SOLICITANTE</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Fuerza o Entidad</strong></td>
<td><strong>Reparto/Unidad</strong></td>
<td><strong>Seccion</strong></td>

</tr>
<tr>
<td>{INST_DAT_LABO}</td>
<td>{REPARTO_UNIDAD_DATOS_LABORALES}</td>
<td>{SECCION_DATOS_LABORALES}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Nombre</strong></td>
<td><strong>Apellido</strong></td>
<td><strong>Numero Telefónico</strong></td>

</tr>
<tr>
<td>{NOMBRES_JEFE_DATOS_LABORALES}</td>
<td>{APELLIDOS_JEFE_DATOS_LABORALES}</td>
<td>{TELEFONO_JEFE_DATOS_LABORALES}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Provincia</strong></td>
<td><strong>Cantón</strong></td>
<td><strong>Parroquia</strong></td>

</tr>
<tr>
<td>{PROVINCIA_DATOS_LABORALES}</td>
<td>{CANTON_DATOS_LABORALES}</td>
<td>{PARROQUIA_DATOS_LABORALES}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Calle</strong></td>
<td><strong>Número</strong></td>
<td><strong>Intersección</strong></td>

</tr>
<tr>
<td>{CALLE_DATOS_LABORALES}</td>
<td>{NUMERO_CALLE_DATOS_LABORALES}</td>
<td>{INTERSECCION_DATOS_LABORALES}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Referencia de la Direccion  de Trabajo</strong></td>
</tr>
<tr>
<td class="2">{REFERENCIA_DIRECCION_TRABAJO_DATOS_LABORALES}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Cargo Actual</strong></td>
<td><strong>Años de Servicio</strong></td>
</tr>
<tr>
<td>{CARGO_ACTUAL_DATOS_LABORALES}</td>
<td>{ANIOS_SERVICIO_DATOS_LABORALES}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">DATOS DEL CONYUGE DEL AFILIADO</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Nombres</strong></td>
<td><strong>Apellidos</strong></td>
<td><strong>Num. Cédula</strong></td>

</tr>
<tr>
<td>{NOMBRES_DATOS_CONYUGE}</td>
<td>{APELLIDOS_DATOS_CONYUGE}</td>
<td>{CEDULA_DATOS_CONYUGE}</td>

</tr>
</table>
<table class="2" border=1>
<tr>
<td><strong>Géneo</strong></td>
<td><strong>Fecha Nacimiento</strong></td>
<td><strong>Vive en la Residencia</strong></td>

</tr>
<tr>
<td>{SEXO_DATOS_CONYUGE}</td>
<td>{FECHA_NACIMIENTO_DATOS_CONYUGE}</td>
<td>{VIVE_RESIDENCIA_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Teléfono</strong></td>
<td><strong>Celular</strong></td>
</tr>
<tr>
<td>{CELULAR_DATOS_CONYUGE}</td>
<td>{TELEFONO_DATOS_CONYUGE}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="5"><strong>Si no vive con su cónyuge: su dirección exacta</strong></td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Provincia</strong></td>
<td><strong>Cantón</strong></td>
<td><strong>Parroquia</strong></td>

</tr>
<tr>
<td>{}</td>
<td>{}</td>
<td>{}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Barrio</strong></td>
<td><strong>Ciudadela</strong></td>
</tr>
<tr>
<td Class="2">{BARRIO_DATOS_CONYUGE}</td>
<td Class="2">{CIUDADELA_DATOS_CONYUGE}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Calle</strong></td>
<td><strong>Número</strong></td>
<td><strong>Intersección</strong></td>

</tr>
<tr>
<td class="2">{CALLE_DATOS_CONYUGE}</td>
<td class="2">{NUMERO_CALLE_DATOS_CONYUGE}</td>
<td class="2">{INTERSECCION_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Actividad económica del cónyuge</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Tpo de Empleado</strong></td>
<td><strong>Empresa/Institución</strong></td>
<td><strong>Naturaleza del Negocio</strong></td>

</tr>
<tr>
<td class="2">{ACTIVIDAD_ECONOMICA_DATOS_CONYUGE}</td>
<td class="2">{EMPRESA_DATOS_CONYUGE}</td>
<td class="2">{NATURALEZA_NEGOCIO_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Cargo</strong></td>
<td><strong>Tipo de Contrato</strong></td>
<td><strong>Tiempo Laborado</strong></td>

</tr>
<tr>
<td class="2">{CARGO_DATOS_CONYUGE}</td>
<td class="2">{TIPO_CONTRATO_DATOS_CONYUGE}</td>
<td class="2">{ANIOS_LABORADOS_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Nombres</strong></td>
<td><strong>Apellidos</strong></td>
<td><strong>Número Telefónico</strong></td>

</tr>
<tr>
<td class="2">{NOMBRES_JEFE_DATOS_CONYUGE}</td>
<td class="2">{APELLIDOS_JEFE_DATOS_CONYUGE}</td>
<td class="2">{TELEFONO_JEFE_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Provincia</strong></td>
<td><strong>Cantón</strong></td>
<td><strong>Parroquia</strong></td>

</tr>
<tr>
<td class="2">{}</td>
<td class="2">{}</td>
<td class="2">{}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Calle</strong></td>
<td><strong>Número</strong></td>
<td><strong>Intersección</strong></td>

</tr>
<tr>
<td class="2">{CALLE_TRABAJO_DATOS_CONYUGE}</td>
<td class="2">{NUEMERO_CALLE_TRABAJO_DATOS_CONYUGE}</td>
<td class="2">{INTERSECCION_TRABAJO_DATOS_CONYUGE}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Referencia de la Direccion  de Trabajo</strong></td>
</tr>
<tr>
<td class="2">{REFERENCIA_TRABAJO_DATOS_CONYUGE}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Datos de la actividad para independientes o Detalle de Proyecto</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Actividad Principal</strong></td>
<td><strong>R.U.C</strong></td>
</tr>
<tr>
<td class="2">{ACTIVIDAD_PRINCIPAL_DATOS_INDEPENDIENTES}</td>
<td class="2">{RUC_DATOS_INDEPENDIENTES}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Dirección Completa</strong></td>
</tr>
<tr>
<td class="2">{}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="5"><strong>Detalle las actividades e Ingresos y Egresos:</strong></td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Local</strong></td>
<td><strong>Nombres</strong></td>
<td><strong>Apellidos</strong></td>
<td><strong>Número Telefónico</strong></td>

</tr>
<tr>
<td class="2">{LOCAL_DATOS_INDEPENDIENTES}</td>
<td class="2">{NOMBRES_PROPIETARIO_DATOS_INDEPENDIENTES}</td>
<td class="2">{APELLIDOS_PROPIETARIO_DATOS_INDEPENDIENTES}</td>
<td class="2">{TELEFONO_PROPIETARIO_DATOS_INDEPENDIENTES}</td>

</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Tiempo de Funcionamiento</strong></td>
<td><strong>Número Patronal</strong></td>
<td><strong>Número de Empleados</strong></td>
</tr>
<tr>
<td class="2">{TIEMPO_FUNCIONAMIENTO_DATOS_INDEPENDIENTES}</td>
<td class="2">{NUMERO_PATRONAL_DATOS_INDEPENDIENTES}</td>
<td class="2">{NUMERO_EMPLEADOS_DATOS_INDEPENDIENTES}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Datos económicos y financieros</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="5"><strong>Referencias bancarias:</strong></td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Institución</strong></td>
<td><strong>Tipo de cuenta o producto (tarjeta)</strong></td>
<td><strong>Número de cuenta / tarjeta</strong></td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_CUENTA_REFERENCIA_BANCARIA}</td>
<td class="2">{NUMERO_CUENTA_REFERENCIA_BANCARIA}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_CUENTA_UNO_DATOS_ECONOMICOS}</td>
<td class="2">{NUMERO_CUENTA_UNO_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_CUENTA_DOS_DATOS_ECONOMICOS}</td>
<td class="2">{NUMERO_CUENTA_DOS_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_CUENTA_TRES_DATOS_ECONOMICOS}</td>
<td class="2">{NUMERO_CUENTA_TRES_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_CUENTA_CUATRO_DATOS_ECONOMICOS}</td>
<td class="2">{NUMERO_CUENTA_CUATRO_DATOS_ECONOMICOS}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="5"><strong>Referencias comerciales y / o proveedores:</strong></td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Empresa / Proveedor</strong></td>
<td><strong>Dirección</strong></td>
<td><strong>Números telefónicos</strong></td>
</tr>
<tr>
<td class="9">{EMPRESA_UNO_DATOS_ECONOMICOS}</td>
<td class="9">{DIRECCION_UNO_DATOS_ECONOMICOS}</td>
<td class="9">{NUMERO_TELEFONO_UNO_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="9">{EMPRESA_DOS_DATOS_ECONOMICOS}</td>
<td class="9">{DIRECCION_DOS_DATOS_ECONOMICOS}</td>
<td class="9">{NUMERO_TELEFONO_DOS_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="9">{EMPRESA_TRES_DATOS_ECONOMICOS}</td>
<td class="9">{DIRECCION_TRES_DATOS_ECONOMICOS}</td>
<td class="9">{NUMERO_TELEFONO_TRES_DATOS_ECONOMICOS}</td>
</tr>
<tr>
<td class="9">{EMPRESA_CUATRO_DATOS_ECONOMICOS}</td>
<td class="9">{DIRECCION_CUATRO_DATOS_ECONOMICOS}</td>
<td class="9">{NUMERO_TELEFONO_CUATRO_DATOS_ECONOMICOS}</td>
</tr>

</table>

<table class="2" border=1>
<tr>
<td class="1">Estado de Situación Patrimonial</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Activos</strong></td>
<td><strong>Valor en Dólares</strong></td>
<td><strong>Pasivos</strong></td>
<td><strong>Valor en Dólares</strong></td>
</tr>
<tr>
<td>Activos corrientes </td>
<td class="2">&nbsp;</td>
<td>Pasivos Corrientes</td>
<td class="2">&nbsp;</td>
</tr>

<tr>
<td class="2">Efectivo </td>
<td>{EFECTIVO_ACTIVOS_CORRIENTES}</td>
<td class="2">Préstamo CAPREMCI (menor a 1 año)
</td>
<td>{PRESTAMO_MENOR_ANIO_PASIVO_CORRIENTE}</td>
</tr>

<tr>
<td class="2">Bancos / Cooperativas </td>
<td>{BANCOS_ACTIVOS_CORRIENTES}</td>
<td class="2">Préstamo emergente CAPREMCI</td>
<td>{PRESTAMO_EMERGENTE_PASIVO_CORRIENTE}</td>
</tr>
<tr>
<td class="2">Cuentas por cobrar</td>
<td>{CUENTAS_COBRAR_ACTIVOS_CORRIENTES}</td>
<td class="2">Cuentas por pagar</td>
<td>{CUENTAS_PAGAR_PASIVO_CORRIENTE}</td>
</tr>
<tr>
<td class="2">Inversiones </td>
<td>{INVERSIONES_ACTIVOS_CORRIENTES}</td>
<td class="2">Proveedores</td>
<td>{PROVEEDORES_PASIVO_CORRIENTE}</td>
</tr>
<tr>
<td class="2">Inventarios / Mercaderías</td>
<td>{INVENTARIOS_ACTIVOS_CORRIENTES}</td>
<td class="2">Otras obligaciones menores a 1 año</td>
<td>{OBLIGACIONES_MENORES_ANIO_PASIVO_CORRIENTE}</td>
</tr>
<tr>
<td class="2">Muebles y enseres</td>
<td>{MUEBLES_ACTIVOS_CORRIENTES}</td>
<td class="2">Con Banco</td>
<td>{CON_BANCO_PASIVO_CORRIENTE}</td>
</tr>
<tr>
<td class="2">Otros Activos Corrientes (detalle)</td>
<td>{OTROS_ACTIVOS_CORRIENTES}</td>
<td class="2">Con Cooperativas</td>
<td>{CON_COOPERATIVAS_PASIVO_CORRIENTE}</td>
</tr>

<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td class="2">Total Activos Corrientes</td>
<td>{TOTAL_ACTIVOS_CORRIENTES}</td>
<td class="2">Total Pasivos Corrientes</td>
<td>{TOTAL_PASIVOS_CORRIENTES}</td>
</tr>

<tr>
<td>Activos Fijos</td>
<td>&nbsp;</td>
<td>Pasivos a Largo plazo</td>
<td>&nbsp;</td>
</tr>

<tr>
<td class="2">Terreno </td>
<td>{TERRENO_ACTIVOS_FIJOS}</td>
<td class="2">Préstamo CAPREMCI (mayor a 1 año)
</td>
<td>{PRESTAMO_MAYOR_ANIO_PASIVOS_LARGO_PLAZO}</td>
</tr>

<tr>
<td class="2">Vivienda</td>
<td>{VIVIENDA_ACTIVOS_FIJOS}</td>
<td class="2">Otras obligaciones mayores a 1 año</td>
<td>{OBLIGACIONES_MAYORES_ANIO_PASIVOS_LARGO_PLAZO}</td>
</tr>
<tr>
<td class="2">Vehículo</td>
<td>{VEHICULO_ACTIVOS_FIJOS}</td>
<td class="2">Con Banco</td>
<td>{CON_BANCO_PASIVOS_LARGO_PLAZO}</td>
</tr>
<tr>
<td class="2">Maquinaria </td>
<td>{MAQUINARIA_ACTIVOS_FIJOS}</td>
<td class="2">Con Cooperativas</td>
<td>{CON_COOPERATIVAS_PASIVOS_LARGO_PLAZO}</td>
</tr>
<tr>
<td class="2">Otros Activos Fijos (detalle)</td>
<td>{OTROS_ACTIVOS_FIJOS}</td>
<td class="2">Otros pasivos a largo plazo (detalle)</td>
<td>{OTROS_PASIVOS_LARGO_PLAZO}</td>
</tr>


<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td class="2">Total de activos fijos </td>
<td>{TOTAL_ACTIVOS_FIJOS}</td>
<td class="2">Total de Pasivos a Largo Plazo</td>
<td>{TOTAL_PASIVOS_LARGO_PLAZO}</td>
</tr>
<tr>
<td>Activos Intangibles</td>
<td>&nbsp;</td>
<td>Total de Pasivos</td>
<td>{TOTAL_PASIVOS}</td>
</tr>

<tr>
<td class="2">Valor de su Prestación en CAPREMCI  </td>
<td>{VALOR_PRESTACION_ACTIVOS_INTANGIBLES}</td>
<td class="2">Patrimonio</td>
<td>{PATRIMONIO}</td>
</tr>

<tr>
<td class="2">Total de Activos</td>
<td>{TOTAL_ACTIVOS}</td>
<td class="2">Garantías en CAPREMCI</td>
<td>{GARANTIAS_CAPREMCI}</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td class="1">Detalle de activos</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Bancos / Cooperativas / Inversiones </strong></td>
<td><strong>Tipo / Producto</strong></td>
<td><strong>Valor / Saldo</strong></td>
<td><strong>Plazo</strong></td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_PRODUCTO_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{PLAZO_UNO_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_PRODUCTO_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{PLAZO_DOS_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_PRODUCTO_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{PLAZO_TRES_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{}</td>
<td class="2">{TIPO_PRODUCTO_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{PLAZO_CUATRO_DETALLE_ACTIVOS}</td>
</tr>

<tr>
<td><strong>Muebles / Inmuebles / Enseres </strong></td>
<td><strong>Dirección</strong></td>
<td><strong>Valor</strong></td>
<td><strong>Está Hipotecado?</strong></td>
</tr>
<tr>
<td class="2">{MUEBLES_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{DIRECCION_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_MUEBLES_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{ESTA_HIPOTECADO_UNO_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{MUEBLES_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{DIRECCION_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_MUEBLES_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{ESTA_HIPOTECADO_DOS_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{MUEBLES_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{DIRECCION_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_MUEBLES_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{ESTA_HIPOTECADO_TRES_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{MUEBLES_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{DIRECCION_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_MUEBLES_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{ESTA_HIPOTECADA_CUATRO_DETALLE_ACTIVOS}</td>
</tr>

<tr>
<td><strong>Vehículos / Marca / Placa / Año</strong></td>
<td><strong>Valor</strong></td>
<td><strong>Uso</strong></td>
<td><strong>Está Asegurado?</strong></td>
</tr>
<tr>
<td class="2">{VEHICULO_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_VEHICULO_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{USO_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{ASEGURADO_UNO_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{VEHICULO_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_VEHICULO_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{USO_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{ASEGURADO_DOS_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{VEHICULO_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_VEHICULO_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{USO_TRES_DETALLE_ACTIVOS}</td>
<td class="2">{ASEGURADO_TRES_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{VEHICULO_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_VEHICULO_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{USO_CUATRO_DETALLE_ACTIVOS}</td>
<td class="2">{ASEGURADO_CUATRO_DETALLE_ACTIVOS}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Otros Activos</strong></td>
<td><strong>Valor</strong></td>
<td><strong>Observación</strong></td>
</tr>
<tr>
<td class="2">{OTROS_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_OTROS_UNO_DETALLE_ACTIVOS}</td>
<td class="2">{OBSERVACION_OTRO_UNO_DETALLE_ACTIVOS}</td>
</tr>
<tr>
<td class="2">{OTROS_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{VALOR_OTROS_DOS_DETALLE_ACTIVOS}</td>
<td class="2">{OBSERVACION_DOS_DETALLE_ACTIVOS}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Detalle de pasivos</td>
</tr>
</table>	

<table class="2" border=1>
<tr>
<td><strong>Institución</strong></td>
<td><strong>Valor</strong></td>
<td><strong>Destino</strong></td>
<td><strong>Garantía</strong></td>
<td><strong>Plazo</strong></td>
<td><strong>Saldo</strong></td>
</tr>
<tr>
<td class="2">{INSTITUCION_UNO_DETALLE_PASIVOS}</td>
<td class="2">{VALOR_UNO_DETALLE_PASIVOS}</td>
<td class="2">{DESTINO_UNO_DETALLE_PASIVOS}</td>
<td class="2">{GARANTIA_UNO_DETALLE_PASIVOS}</td>
<td class="2">{PLAZO_UNO_DETALLE_PASIVOS}</td>
<td class="2">{SALDO_UNO_DETALLE_PASIVOS}</td>
</tr>
<tr>
<td class="2">{INSTITUCION_DOS_DETALLE_PASIVOS}</td>
<td class="2">{VALOR_DOS_DETALLE_PASIVOS}</td>
<td class="2">{DESTINO_DOS_DETALLE_PASIVOS}</td>
<td class="2">{GARANTIA_DOS_DETALLE_PASIVOS}</td>
<td class="2">{PLAZO_DOS_DETALLE_PASIVOS}</td>
<td class="2">{SALDO_DOS_DETALLE_PASIVOS}</td>
</tr>



<tr>
<td class="2">{INSTITUCION_TRES_DETALLE_PASIVOS}</td>
<td class="2">{VALOR_TRES_DETALLE_PASIVOS}</td>
<td class="2">{DESTINO_TRES_DETALLE_PASIVOS}</td>
<td class="2">{GARANTIA_TRES_DETALLE_PASIVOS}</td>
<td class="2">{PLAZO_TRES_DETALLE_PASIVOS}</td>
<td class="2">{SALDO_TRES_DETALLE_PASIVOS}</td>
</tr>

<tr>
<td class="2">{INSTITUCION_CUATRO_DETALLE_PASIVOS}</td>
<td class="2">{VALOR_CUATRO_DETALLE_PASIVOS}</td>
<td class="2">{DESTINO_CUATRO_DETALLE_PASIVOS}</td>
<td class="2">{GARANTIA_CUATRO_DETALLE_PASIVOS}</td>
<td class="2">{PLAZO_CUATRO_DETALLE_PASIVOS}</td>
<td class="2">{SALDO_CUATRO_DETALLE_PASIVOS}</td>
</tr>

<tr>
<td class="2">{INSTITUCION_CINCO_DETALLE_PASIVOS}</td>
<td class="2">{VALOR_CINCO_DETALLE_PASIVOS}</td>
<td class="2">{DESTINO_CINCO_DETALLE_PASIVOS}</td>
<td class="2">{GARANTIA_CINCO_DETALLE_PASIVOS}</td>
<td class="2">{PLAZO_CINCO_DETALLE_PASIVOS}</td>
<td class="2">{SALDO_CINCO_DETALLE_PASIVOS}</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Ingresos y Gastos Mensuales</td>
</tr>
</table>


<table class="2" border=1>
<tr>
<td><strong>Ingresos</strong></td>
<td><strong>Valor en Dólares</strong></td>
<td><strong>Gastos</strong></td>
<td><strong>Valor en Dólares</strong></td>
</tr>
<tr>
<td class="2">Sueldo del afiliado </td>
<td>{SUELDO_AFILIADO_INGRESOS_MENSUALES}</td>
<td class="2">Alimentación</td>
<td>{ALIMENTACION_GASTOS_MENSUALES}</td>
</tr>

<tr>
<td class="2">Sueldo del cónyuge  </td>
<td>{SUELDO_CONYUGE_INGRESOS_MENSUALES}</td>
<td class="2">Arriendos</td>
<td>{ARRIENDOS_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">Comisiones</td>
<td>{COMISIONES_INGRESOS_MENSUALES}</td>
<td class="2">Educación</td>
<td>{EDUCACION_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">Arriendos </td>
<td>{ARRIENDOS_INGRESOS_MENSUALES}</td>
<td class="2">Vestuario</td>
<td>{VESTUARIO_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">Dividendos</td>
<td>{DIVIDENDOS_INGRESOS_MENSUALES}</td>
<td class="2">Servicios públicos</td>
<td>{SERVICIOS_PUBLICOS_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">Ingresos del Negocio </td>
<td>{INGRESOS_NEGOCIO_INGRESOS_MENSUALES}</td>
<td class="2">Movilización / transporte</td>
<td>{MOVILIZACION_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">Pensiones</td>
<td>{PENSIONES_INGRESOS_MENSUALES}</td>
<td class="2">Ahorros cooperativas</td>
<td>{AHORROS_COOPERATIVAS_GASTOS_MENSUALES}</td>
</tr>

<tr>
<td class="2">{OTROS_DETALLE_UNO_INGRESOS_MENSUALES}</td>
<td>{OTROS_UNO_INGRESOS_MENSUALES}</td>
<td class="2">Cuotas tarjetas de crédito</td>
<td>{CUOTAS_TARJETAS_GASTOS_MENSUALES}</td>
</tr>

<tr>
<td class="2">{OTROS_DETALLE_DOS_INGRESOS_MENSUALES}</td>
<td>{OTROS_DOS_INGRESOS_MENSUALES}</td>
<td class="2">Cuotas de préstamos</td>
<td>{CUOTAS_PRESTAMO_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">{OTROS_DETALLE_TRES_INGRESOS_MENSUALES};</td>
<td>{OTROS_TRES_INGRESOS_MENSUALES}</td>
<td class="2">{OTROS_DETALLE_UNO_GASTOS_MENSUALES}</td>
<td>{OTROS_GASTOS_UNO_GASTOS_MENSUALES}</td>
</tr>

<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td class="2">Total</td>
<td>{TOTAL_INGRESOS_MENSUALES}</td>
<td class="2">Total</td>
<td>{TOTAL_GASTOS_MENSUALES}</td>
</tr>
<tr>
<td class="2">&nbsp;</td>
<td>&nbsp;</td>
<td class="2">Disponible</td>
<td>&nbsp;</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Croquis del domicilio del afiliado</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="6">&nbsp;</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Croquis del negocio / otro</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="6">&nbsp;</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="1">Resumen de condiciones generales</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td class="7"><strong>1 Solicitud de crédito:</strong> La solicitud de crédito debe estar correcta y completamente llena. La información proporcionada es
verdadera, refleja adecuadamente mi (nuestra) situación y es de mi (nuestra) exclusiva responsabilidad y está sujeta a
verificación por parte del Fondo. En caso de omisión, falsedad o alteración acepto (amos) que sea motivo de negar o rechazar la
misma.<br>
<strong>2 Verificación de información y documentación:</strong> Autorizo (amos) expresamente al Fondo Complementario Previsional
Cerrado de Cesantía de Servidores y Trabajadores Públicos de Fuerzas Armadas –CAPREMCI- a obtener de cualquier fuente
de información, incluida la Central de Riesgos, referencias relativas a mi (nosotros), a mi (nuestro) trabajo, a mi (nuestro)
comportamiento crediticio, manejo de mi (s) (nuestras) cuenta (s), corriente (s), de ahorro, tarjeta (s) de crédito, etc., en general
al cumplimiento de mi (nuestras) obligaciones.<br>
<strong>3 Información para terceros:</strong> El Fondo Complementario Previsional Cerrado de Cesantía de Servidores y Trabajadores
Públicos de Fuerzas Armadas –CAPREMCI- queda expresamente autorizado para que pueda utilizar, transferir o entregar dicha
información a autoridades competentes, organismos de control, Burós de Información Crediticia y otras instituciones o personas
jurídicas, legal o reglamentariamente facultadas, así como para que pueda hacer público mi (nuestro) comportamiento crediticio.<br>
<strong>4 Declaración de licitud de fondos:</strong> Declaro expresamente que el origen y procedencia de los bienes que poseo son lícitos,
además que los fondos recibidos en calidad de préstamo no serán destinados a ninguna actividad ilícita ni relacionada con la
producción, consumo ni comercialización de sustancias estupefacientes y/o psicotrópicas.
</td>
</tr>
</table>

<table class="2" border=1>
<tr>
<td><strong>Firma del afiliado deudor</strong></td>
<td><strong>Firma del cónyuge</strong></td>
</tr>
<tr>
<td class="8"></td>
<td class="8"></td>
</tr>

</table>
<table class="2" border=1>
<tr>
<td class="2"><strong>Recibido por:</strong></td>
<td class="2"><strong>Fecha:</strong></td>
</tr>
<tr>
<td class="2"><strong>Nombre y firma del Oficial:</strong></td>
<td><strong>&nbsp;</strong></td>

</tr>


</table>
  		
	</div>
  </body>
  </html>